@charset "UTF-8";

/* CSS Document */




/*--------------------------------------------------------------------------------------------------------------------*/
/* APPEAL BLOCK HEADING & CONTAINERS */
/*--------------------------------------------------------------------------------------------------------------------*/


.appeal_subcategory_heading {
	margin: 0px 0px 40px 0px;
	font-family: din500, "din500 Regular", Helvetica, Arial, sans-serif;
	font-style: normal;
	font-size: 24px;
	line-height: 30px;
	text-decoration: none;
	color: #333333;
	text-align: center;
	text-transform: uppercase;
}

 @media only screen and (min-width : 601px) and (max-width :960px) {

.appeal_subcategory_heading {
	margin: 0px 0px 30px 0%;
	font-size: 20px;
	line-height: 24px;
}
}

 @media only screen and (min-width : 1px) and (max-width :600px) {

.appeal_subcategory_heading {
	margin: 0px 0px 15px 0%;
	font-size: 18px;
	line-height: 22px;
}
}

.appeal_tab_zone {
	margin: 0px 0px 0px 0%;
	padding: 0px 0px 0px 0px;
	float: left;
	width: 100%;
}



/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/
/* DONATION APPEAL BLOCKS  */
/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/


/*--------------------------------------------------------------------------------------------------------------------*/
/* TAB TEXT & BOXES */
/*--------------------------------------------------------------------------------------------------------------------*/

.tab_sq_fund_h1 {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	font-family: din700, "din700 Regular", Helvetica, Arial, sans-serif;
	font-style: normal;
	font-size: 19px;
	line-height: 19px;
	color: #333333;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
}

.tab_sq_fund_p1 {
	margin: 12px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	font-family: din400, "din400 Regular", Helvetica, Arial, sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 15px;
	line-height: 20px;
	color: #777777;
	text-decoration: none;
	text-align: center;
}
 @media only screen and (min-width : 601px) and (max-width :960px) {

.tab_sq_fund_h1 {
	font-size: 18px;
	line-height: 18px;
}

.tab_sq_fund_p1 {
	margin: 8px 0px 0px 0px;
	font-size: 14px;
	line-height: 19px;
}
}
 @media only screen and (min-width : 1px) and (max-width :600px) {

.tab_sq_fund_h1 {
	font-size: 16px;
	line-height: 16px;
}

.tab_sq_fund_p1 {
	margin: 8px 0px 0px 0px;
	font-size: 15px;
	line-height: 20px;
}
}

/*--------------------------------------------------------------------------------------------------------------------*/
/* LARGE TABS FOR DONATE PAGES */
/*--------------------------------------------------------------------------------------------------------------------*/

.appeal_tab {
	float: left;
	width: calc(31.333% - 2px);
	margin: 10px 1% 10px 1%;
	padding: 0% 0% 0% 0%;
	border-radius: 0px;
	border: 1px solid #cbcbcb;
	background-color: #ffffff;
	min-width: 31%;
	box-shadow: 0px 0px 3px rgba(0,0,0,.2);
	text-align:center;
}

 @media only screen and (min-width : 1px) and (max-width :740px) {

.appeal_tab {
	float: left;
	width: calc(98% - 2px);
	margin: 10px 1% 10px 1%;
	padding: 0% 0% 0% 0%;
	border-radius: 0px;
	border: 1px solid #cbcbcb;
	background-color: #ffffff;
	min-width: 31.333%;
	box-shadow: 0px 1px 2px #bbbbbb;
}
}

/*--------------------------------------------------------------------------------------------------------------------*/
/* TAB APPEAL ICON */
/*--------------------------------------------------------------------------------------------------------------------*/





.appeal_tab_img_wrapper {
	margin: 0px auto 0px auto;
	padding: 0px 0px 0px 0px;
	width: 100%;
	position: relative;
	font-size: 0;
}

.appeal_tab_img_outer {
	margin: 0px 0% 0px 0%;
	padding: 0px 0% 0% 0%;
	width: 100%;
	height: auto;
	width: auto;
	max-height: 480px;
	max-width: 640px;
}

.appeal_tab_img {
	text-align: center;
	max-width: 100%;
	height: auto;
	width: auto;
}

/*--------------------------------------------------------------------------------------------------------------------*/
/* TAB INNER CONTAINERS */
/*--------------------------------------------------------------------------------------------------------------------*/


.appeal_tab_options_wrapper {
	float: left;
	width: 100%;
	margin: 0px auto 0px auto;
	padding: 0px 0% 0px 0%;

}

.appeal_tab_box_description_wrapper {
	float: left;
	width: 100%;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 5px 0px;
	height: 130px;
	border-bottom: 1px solid #cbcbcb;
	display: table;
}

.appeal_tab_box_description {
	width: calc(100% - 30px);
	margin: 0px 0px 0px 0px;
	padding: 10px 15px 0px 15px;
	display: table-cell;
	text-align: center;
	vertical-align: top;
}

.appeal_tab_box_select {
	float: left;
	width: 100%;
	margin: 0px 0px 0px 0px;
	padding: 15px 0px 13px 0px;
	height: 170px;
	border-bottom: 1px solid #cbcbcb;
}

.appeal_tab_box_button {
	float: left;
	width: 100%;
	margin: 0px 0px 0px 0px;
	padding: 14px 0% 14px 0%;
}
 @media only screen and (min-width : 1px) and (max-width :960px) {

.appeal_tab_box_description_wrapper {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 5px 0px;
	height: 110px;
}

.appeal_tab_box_button {
	padding: 14px 0% 14px 0%;
}
}
 @media only screen and (min-width : 741px) and (max-width :960px) {

.appeal_tab_box_description_wrapper {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 5px 0px;
	height: 130px;
}

.appeal_tab_box_button {
	padding: 14px 0% 14px 0%;
}

}
 @media only screen and (min-width : 1px) and (max-width :600px) {

.appeal_tab_box_description_wrapper {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 5px 0px;
	height: 120px;
}

.appeal_tab_box_description {
	width: calc(100% - 30px);
	padding: 0px 15px 0px 15px;
}

.appeal_tab_box_select {
	margin: 0px 0px 0px 0px;
	padding: 10px 0px 10px 0px;
	height: 165px;
}

.appeal_tab_box_button {
	padding: 14px 0% 14px 0%;
}
}

/*--------------------------------------------------------------------------------------------------------------------*/
/* TAB TEXT & BOXES */
/*--------------------------------------------------------------------------------------------------------------------*/




.tab_fund_h1 {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	font-family: din700, "din700 Regular", Helvetica, Arial, sans-serif;
	font-style: normal;
	font-size: 20px;
	line-height: 24px;
	color: #333333;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
}

.tab_fund_p1 {
	margin: 12px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	font-family: din400, "din400 Regular", Helvetica, Arial, sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 15px;
	line-height: 19px;
	color: #777777;
	text-decoration: none;
	text-align: center;
}
 @media only screen and (min-width : 601px) and (max-width :960px) {

.tab_fund_h1 {
	font-size: 18px;
	line-height: 22px;
}

.tab_fund_p1 {
	margin: 8px 0px 0px 0px;
	font-size: 14px;
	line-height: 19px;
}
}
 @media only screen and (min-width : 1px) and (max-width :600px) {

.tab_fund_h1 {
	font-size: 18px;
	line-height: 22px;
}

.tab_fund_p1 {
	margin: 8px 0px 0px 0px;
	font-size: 14px;
	line-height: 19px;
}
}

/*--------------------------------------------------------------------------------------------------------------------*/
/* CHECKOUT FORM */
/*--------------------------------------------------------------------------------------------------------------------*/

.donation_form_line {
	margin: 4px 0% 4px 0%;
	padding: 0px 20% 0px 20%;
	float: left;
	text-align: left;
	width: 60%;
	min-height: 32px;
}

.donation_form_pull_down {
	margin: 0px 0px 0px 0px;
	padding: 2px 6px 3px 6px;
	font-family: din400, "din400 Regular", Helvetica, Arial, sans-serif;
	font-style: normal;
	font-size: 14px;
	border-radius: 0px;
	border: 1px solid #999999;
	background-color: #fefefe;
	width: 100%;
	color: #333333;
	height: 34px;
}

.donation_form_entry_box {
	margin: 0px 0px 0px 0px;
	padding: 2px 10px 3px 10px;
	font-family: din400, "din400 Regular", Helvetica, Arial, sans-serif;
	font-style: normal;
	font-size: 14px;
	color: #333333;
	border-radius: 0px;
	border: 1px solid #999999;
	background-color: #fefefe;
	height: 25px;
	width: calc(100% - 22px);
}
 @media only screen and (min-width : 1px) and (max-width :960px) {

.donation_form_line {
	margin: 4px 0% 4px 0%;
	padding: 0px 10% 0px 10%;
	float: left;
	text-align: left;
	width: 80%;
	min-height: 32px;
}

.donation_form_pull_down {
	padding: 2px 6px 3px 6px;
	font-size: 13px;
}

.donation_form_entry_box {
	padding: 2px 10px 3px 10px;
	font-size: 13px;
	color: #333333;
}
}


/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/
/* BASKET / CHECKOUT */
/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/



.checkout_block_wrapper {
	margin: 0px 0px 30px 0px;
	padding: 35px 0px 40px 0px;
	width: 100%;
	max-width: 1200px;
	position: relative;
	background-color: #ffffff;
}

.checkout_block_wrapper_last {
	margin: 0px 0px 0px 0px;
}

.checkout_block_heading {
	margin: 0px 0px 20px 0px;
	font-family: din700, "din700 Regular", Helvetica, Arial, sans-serif;
	font-style: normal;
	font-size: 36px;
	line-height: 36px;
	text-decoration: none;
	color: #333333;
	text-align: center;
	text-transform: uppercase;
}
 @media only screen and (min-width : 1px) and (max-width :960px) {

.checkout_block_heading {
	font-size: 24px;
	line-height: 24px;
}
}

.checkout_block_heading span {
	color: #cc0000;
	margin: 0px 15px 0px 0px;
}

.checkout_button_block {
	margin: 20px auto 0px auto;
	width: 90%;
	text-align: center;
	border: 1px solid #00000;
}

.checkout_button {
	text-align: center;
	margin: 0px 0px 0px 0px;
	padding: 13px 10px 14px 10px;
	background-color: #cc0000;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	display: inline-block;
	color: #ffffff;
	font-family: din700, "din700 Regular", Helvetica, Arial, sans-serif;
	font-style: normal;
	font-size: 22px;
	line-height: 22px;
	text-decoration: none;
	width: 90%;
	text-transform: uppercase;
	max-width: 300px;
}

.checkout_button:hover {
	color: #ffffff;
	background-color: #333333;
}

.checkout_button:active {
	position: relative;
	top: 1px;
}

.checkout_form_details_block {
	margin: 0px auto 10px auto;
	padding: 0px 0% 0px 0px;
	width: 70%;
}

.checkout_form_line {
	margin: 20px 3% 0px 3%;
	padding: 0px 0% 0px 0px;
	float: left;
	text-align: left;
	width: 44%;
}
 @media only screen and (min-width : 1px) and (max-width :960px) {

.checkout_form_details_block {
	width: 80%;
}

.checkout_form_line {
	margin: 16px 0% 0px 0%;
	width: 100%;
}
}

.checkout_form_label {
	margin: 0px 0% 0px 0%;
	padding: 0px 0% 0px 0px;
	float: left;
	text-align: left;
	width: 100%;
	height: 22px;
}

.checkout_form_entry {
	margin: 0px 0% 0px 0%;
	padding: 0px 0% 0px 0px;
	float: left;
	text-align: left;
	width: 100%;
	min-height: 32px;
}

.checkout_form_entry_box {
	margin: 0px 0px 0px 0px;
	padding: 3px 8px 4px 8px;
	font-family: din400, "din400 Regular", Helvetica, Arial, sans-serif;
	font-style: normal;
	font-size: 15px;
	color: #333333;
	border-radius: 0px;
	border: 1px solid #999999;
	background-color: #fefefe;
	box-shadow: inset 0px 0px 3px #e5e5e5;
	width: calc(100% - 18px);
	height: 25px;
}
 @media only screen and (min-width : 1px) and (max-width :960px) {

.checkout_form_entry {
	width: calc(100% - 18px);
}

.checkout_form_entry_box {
	width: 100%;
}
}

.checkout_form_p1 {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	font-family: din400, "din400 Regular", Helvetica, Arial, sans-serif;
	font-style: normal;
	font-size: 15px;
	line-height: 15px;
	color: #333333;
	text-decoration: none;
}

.checkout_form_p2 {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	font-family: din400, "din400 Regular", Helvetica, Arial, sans-serif;
	font-style: normal;
	font-size: 16px;
	line-height: 21px;
	color: #333333;
	text-decoration: none;
}

.checkout_form_p3 {
	margin: 15px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	font-family: din700, "din700 Regular", Helvetica, Arial, sans-serif;
	font-style: normal;
	font-size: 18px;
	line-height: 22px;
	color: #cc0000;
	text-decoration: none;
}

.checkout_form_p4 {
	margin: 15px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	font-family: din400, "din400 Regular", Helvetica, Arial, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 11px;
	line-height: 13px;
	color: #aaaaaa;
	text-decoration: none;
}

.checkout_form_pull_down {
	margin: 0px 0px 0px 0px;
	padding: 3px 6px 5px 6px;
	font-family: din400, "din400 Regular", Helvetica, Arial, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	box-shadow: inset -1px -1px 2px #cccccc;
	border-radius: 0px;
	border: 1px solid #999999;
	background-color: #fcfcfc;
	width: 100%;
	color: #333333;
	height: 34px;
}

.checkout_form_pull_down_100pc {
	width: 100%;
}

.checkout_form_pull_down_150 {
	width: 150px;
}

.checkout_form_pull_down_80 {
	width: 80px;
}

.checkout_form_pull_down_60 {
	width: 60px;
}

.checkout_form_pull_down_50 {
	width: 60px;
}
 @media only screen and (min-width : 1px) and (max-width :960px) {

.checkout_form_p2 {
	font-size: 15px;
	line-height: 21px;
}

.checkout_form_p3 {
	font-size: 15px;
	line-height: 21px;
}

.checkout_form_pull_down_100pc {
	width: calc(100% + 16px);
}
}

.checkout_block_last_stages {
	margin: 0px auto 10px auto;
	padding: 0px 0% 0px 0px;
	width: 70%;
}
 @media only screen and (min-width : 1px) and (max-width :960px) {

.checkout_block_last_stages {
	width: 85%;
}
}

.checkout_form_checkbox_wrapper {
	width: 100%;
	margin: 20px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	font-family: din400, "din400 Regular", Helvetica, Arial, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 21px;
	text-decoration: none;
	color: #333333;
}

.checkout_form_checkbox {
	margin: 0px 6px 0px 0px;
	padding: 0px 0px 0px 0px;
}
