@charset "UTF-8";

/* CSS Document */



/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/
/* QURBANI BUTTON BLOCK */
/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/


.qurbani_button_block {
	margin: 35px 20px 0px 20px;
	width: calc(100% - 40px);
	text-align: left;
}

.qurbani_button {
text-align: center;
	margin: 0px 0px 0px 0px;
	padding: 12px 0px 13px 0px;
	background-color: #cc0000;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	display: inline-block;
	color: #ffffff;
	font-family: din700, "din700 Regular", Helvetica, Arial, sans-serif;
	font-style: normal;
	font-size: 18px;
	line-height: 18px;
	text-decoration: none;
	width: 100%;
	text-transform: uppercase;
	max-width: 160px;
}

.qurbani_button:hover {
	color: #ffffff;
	background-color: #333333;
}

.qurbani_button:active {
	position: relative;
	top: 1px;
}


 @media only screen and (min-width : 1px) and (max-width :960px) {
.qurbani_button_block {
	margin: 30px 15px 0px 15px;
	width: calc(100% - 30px);
	text-align: left;
}

.qurbani_button {
	text-align: center;
	margin: 0px 0px 0px 0px;
	padding: 11px 0px 13px 0px;
	background-color: #cc0000;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	display: inline-block;
	color: #ffffff;
	font-family: din700, "din700 Regular", Helvetica, Arial, sans-serif;
	font-style: normal;
	font-size: 16px;
	line-height: 16px;
	text-decoration: none;
	width: 100%;
	text-transform: uppercase;
	max-width: 160px;
}

 }



/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/
/* QURBANI DONATION BLOCK */
/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/


.qurbani_form_details_block {
	margin: 0px auto 0px auto;
	padding: 15px 0% 25px 0px;
	width: 100%;
	background-color:#f0f0f0;
	border-top:2px solid #cc0000;
	border-bottom:2px solid #cc0000;
}


.qurbani_heading_line {
	margin: 0px 20px 10px 20px;
	padding: 0px 0px 0px 0px;
	float: left;
	text-align: left;
	width: calc(100% - 40px);
}


.qurbani_txt_h1 {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	font-family: din700, "din700 Regular", Helvetica, Arial, sans-serif;
	font-style: normal;
	font-size: 22px;
	line-height: 26px;
	color: #cc0000;
	text-decoration: none;
	text-align: left;
}

 @media only screen and (min-width : 601px) and (max-width :960px) {
.qurbani_txt_h1 {
	padding: 0px 0px 0px 0px;
	font-size: 20px;
	line-height: 24px;
}
 }
 
  @media only screen and (min-width : 1px) and (max-width :600px) {
.qurbani_txt_h1 {
	padding: 0px 0px 0px 0px;
	font-size: 18px;
	line-height: 22px;
}
  }
	



.qurbani_form_line {
	margin: 20px 20px 0px 20px;
	padding: 0px 0% 0px 0px;
	float: left;
	text-align: left;
	width: calc(50% - 40px);
}


.qurbani_form_line_100 {
	margin: 20px 20px 0px 20px;
	width: calc(100% - 40px);
}

 @media only screen and (min-width : 1px) and (max-width :960px) {

.qurbani_form_details_block {
	padding: 15px 0% 25px 0px;
	width: 100%;
}

.qurbani_heading_line {
	margin: 0px 15px 0px 15px;
	width: calc(100% - 30px);
}

.qurbani_form_line {
	margin: 20px 15px 0px 15px;
	width: calc(100% - 30px);
}

.qurbani_form_line_100 {
	margin: 25px 15px 0px 15px;
	width: calc(100% - 30px);
}

}

.qurbani_form_label {
	margin: 0px 0% 0px 0%;
	padding: 0px 0% 0px 0px;
	float: left;
	text-align: left;
	width: 100%;
	height: 22px;
}

.qurbani_form_entry {
	margin: 0px 0% 0px 0%;
	padding: 0px 0% 0px 0px;
	float: left;
	text-align: left;
	width: 100%;
	min-height: 32px;
	max-width:300px;
}

.qurbani_form_entry_box {
	margin: 0px 0px 0px 0px;
	padding: 3px 8px 4px 8px;
	font-family: din400, "din400 Regular", Helvetica, Arial, sans-serif;
	font-style: normal;
	font-size: 15px;
	color: #333333;
	border-radius: 0px;
	border: 1px solid #999999;
	background-color: #fefefe;
	box-shadow: inset 0px 0px 3px #e5e5e5;
	width: calc(100% - 18px);
	height: 25px;
}

.qurbani_form_multi_entry_box {
	margin: 0px 0px 0px 0px;
	padding: 6px 8px 6px 8px;
	font-family: din400, "din400 Regular", Helvetica, Arial, sans-serif;
	font-style: normal;
	font-size: 15px;
	box-shadow: inset 0px 0px 5px #eeeeee;
	color: #333333;
	border-radius: 0px;
	border: 1px solid #999999;
	background-color: #fefefe;
	box-shadow: inset 0px 0px 3px #e5e5e5;
	width: calc(100% - 18px);
	height: 100px;
	max-height: 100px;
	text-align: left;
	resize: none;
}



 @media only screen and (min-width : 1px) and (max-width :960px) {

.qurbani_form_entry {
	width: calc(100% - 18px);
}

.qurbani_form_entry_box {
	width: 100%;
}

.qurbani_form_multi_entry_box {
	width: 100%;
}
}

.qurbani_form_p1 {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	font-family: din400, "din400 Regular", Helvetica, Arial, sans-serif;
	font-style: normal;
	font-size: 15px;
	line-height: 15px;
	color: #333333;
	text-decoration: none;
}

.qurbani_form_p2 {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	font-family: din400, "din400 Regular", Helvetica, Arial, sans-serif;
	font-style: normal;
	font-size: 16px;
	line-height: 21px;
	color: #333333;
	text-decoration: none;
}

.qurbani_form_p3 {
	margin: 15px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	font-family: din700, "din700 Regular", Helvetica, Arial, sans-serif;
	font-style: normal;
	font-size: 18px;
	line-height: 22px;
	color: #cc0000;
	text-decoration: none;
}

.qurbani_form_p4 {
	margin: 15px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	font-family: din400, "din400 Regular", Helvetica, Arial, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 11px;
	line-height: 13px;
	color: #aaaaaa;
	text-decoration: none;
}

.qurbani_form_pull_down {
	margin: 0px 0px 0px 0px;
	padding: 3px 6px 5px 6px;
	font-family: din400, "din400 Regular", Helvetica, Arial, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	box-shadow: inset -1px -1px 2px #cccccc;
	border-radius: 0px;
	border: 1px solid #999999;
	background-color: #fcfcfc;
	width: 100%;
	color: #333333;
	height: 34px;
}

.qurbani_form_pull_down_100pc {
	width: 100%;
}

.qurbani_form_pull_down_150 {
	width: 150px;
}

.qurbani_form_pull_down_80 {
	width: 80px;
}

.qurbani_form_pull_down_60 {
	width: 60px;
}

.qurbani_form_pull_down_50 {
	width: 60px;
}
 @media only screen and (min-width : 1px) and (max-width :960px) {

.qurbani_form_p2 {
	font-size: 15px;
	line-height: 21px;
}

.qurbani_form_p3 {
	font-size: 15px;
	line-height: 21px;
}

.qurbani_form_pull_down_100pc {
	width: calc(100% + 16px);
}
}

.qurbani_block_last_stages {
	margin: 0px auto 10px auto;
	padding: 0px 0% 0px 0px;
	width: 70%;
}
 @media only screen and (min-width : 1px) and (max-width :960px) {

.qurbani_block_last_stages {
	width: 85%;
}
}

.qurbani_form_checkbox_wrapper {
	width: 100%;
	margin: 20px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	font-family: din400, "din400 Regular", Helvetica, Arial, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 21px;
	text-decoration: none;
	color: #333333;
}

.qurbani_form_checkbox {
	margin: 0px 6px 0px 0px;
	padding: 0px 0px 0px 0px;
}



/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/
/* CUSTOM CHECK BOXES */
/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/


 /* Customize the label (the container) */
.qurbani_form_chbox_container {
  display: block;
  position: relative;
  padding-left: 35px;
  padding-top:2px;
  margin-top: 12px;
  cursor: pointer;
	font-family: din400, "din400 Regular", Helvetica, Arial, sans-serif;
	font-size: 15px;
	line-height: 21px;
	color: #333333;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.qurbani_form_chbox_container_first {
  margin-top:5px;
}


/* Hide the browser's default checkbox */
.qurbani_form_chbox_container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 24px;
  width: 24px;
  background-color: #ffffff;
  border:1px solid #aaaaaa;
}

/* On mouse-over, add a grey background color */
.qurbani_form_chbox_container:hover input ~ .checkmark {
  background-color: #ffcc00;
}

/* When the checkbox is checked, add a blue background */
.qurbani_form_chbox_container input:checked ~ .checkmark {
  background-color: #cc0000;
  border:1px solid #cc0000;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.qurbani_form_chbox_container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.qurbani_form_chbox_container .checkmark:after {
  left: 8px;
  top: 4px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
} 








/*--------------------------------------------------------------------------------------------------------------------*/
/* DONATION WIDGET FOR VARIOUS PAGES ALLOWING FIXED SINGLE DDNATIONS */
/*--------------------------------------------------------------------------------------------------------------------*/

.selector_wrapper{
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	float:left;
	width:100%;
}



.selector_space_above{
	margin-top:60px;
}

.selector_space_below{
	margin-bottom:60px;
}


 @media only screen and (min-width : 601px) and (max-width :960px) {
.selector_space_above{
	margin-top:40px;
}

.selector_space_below{
	margin-bottom:40px;
}
 }
 
  @media only screen and (min-width : 1px) and (max-width :600px) {
.selector_space_above{
	margin-top:30px;
}

.selector_space_below{
	margin-bottom:30px;
}
  }




.selector_line_above{
	border-top:2px solid #cc0000;
	padding-top:20px;
}

.selector_line_below{
	border-bottom:2px solid #cc0000;
	padding-bottom:25px;
}


.selector_tint_space_above{
	padding-top:20px;
}

.selector_tint_space_below{
	padding-bottom:25px;
}

.selector_tint_yellow {
	background-color:rgba(255,204,0,.1);
}

.selector_tint_grey {
	background-color:rgba(242,242,242,1);
}

.selector_tint_inset {
	width:calc(100% - 40px);
	padding-left:20px;
	padding-right:20px;
}


.selector_row{
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	float:left;
}

.selector_option_box {
	margin:0px 0px 0px 0px;
	padding:0px 5px 0px 0px;
	float:left;
	width:68px;
	height:53px;
}

.selector_option_box_last {
	padding-right:0px;
}

.selector_dropdown_zone {
	margin:10px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	float:left;
	width:100%;
}

.selector_container {
	display: block;
	position: relative;
	padding-left: 0px;
	margin-top: 0px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	float: left;
}

.selector_txt_h1 {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 22px 0px;
	font-family: din500, "din500 Regular", Helvetica, Arial, sans-serif;
	font-style: normal;
	font-size: 22px;
	line-height: 26px;
	color: #cc0000;
	text-decoration: none;
	text-align: left;
}

 @media only screen and (min-width : 601px) and (max-width :960px) {
.selector_txt_h1 {
	padding: 0px 0px 20px 0px;
	font-size: 20px;
	line-height: 24px;
}
 }
 
  @media only screen and (min-width : 1px) and (max-width :600px) {
.selector_txt_h1 {
	padding: 0px 0px 18px 0px;
	font-size: 18px;
	line-height: 22px;
}
  }


#other_button {
	color:#ff0000;	
}


/* Hide the browser's default radio button */


.selector_container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}

/* Radio button */


.selector_checkmark {
	position: absolute;
	padding:13px 0px 0px 0px;
	top: 0;
	left: 0;
	width: 65px;
	height: 32px;
	background-color: #f0f0f0;
	border-radius: 0px;
	font-family: din700, "din700 Regular", Helvetica, Arial, sans-serif;
	font-style: normal;
	font-size: 17px;
	line-height: 17px;
	color: #333333;
	text-decoration: none;
	text-align: center;
	letter-spacing:0px;
	border:2px solid #c5c5c5;
	background: linear-gradient(to bottom, rgba(250,250,250,1) 5%, rgba(240,240,240,1) 50%, rgba(235,235,235,1) 100%);
}

/* On mouse-over, add a grey background color */


.selector_container:hover input ~ .selector_checkmark {
	background-color: #ffcc00;
	background: linear-gradient(to bottom, rgba(249,233,196,1) 1%, rgba(255,204,0,1) 80%, rgba(255,204,0,1) 100%);
	border:2px solid #deb200;
}

/* When the radio button is checked, add a red background */


.selector_container input:checked ~ .selector_checkmark {
	background-color: #cc0000;
	background: linear-gradient(to bottom, rgba(249,233,196,1) 1%, rgba(255,204,0,1) 80%, rgba(255,204,0,1) 100%);
	border:2px solid #333333;
}

/* Create the indicator (hidden when not checked) */


.selector_checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the indicator when checked */

.selector_container input:checked ~ .selector_checkmark:after {
	display: block;
}

/* Style the indicator */


.selector_container .selector_checkmark:after {
	top: 0px;
	left: 0px;
	width: 65px;
	height: 55px;
	border-radius: 6px;
}

.selector_container input:checked ~ .selector_checkmark {
	color:#333333;
}



.selector_numeric_block {
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	text-align:left;
		float:left;
	width: 100%;
}

.selector_numeric_entry, .selector_numeric_entry_1 {
	margin: 0px 0px 6px 0px;
	padding: 2px 8px 3px 8px;
	font-family: din400, "din400 Regular", Helvetica, Arial, sans-serif;
	font-style: normal;
	font-size: 16px;
	float:left;
	color: #333333;
	border-radius: 0px;
	border: 1px solid #333333;
	box-shadow: inset 0px 0px 3px #dddddd;
	background-color: #fefefe;
	width: calc(100% - 18px);
	height: 34px;
	display:none;
}	

.selector_numeric_width_reduced{
		width: 280px;
}